.edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit__container {
  position: relative;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.edit__button-close {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background: url("../images/close_button.svg");
  background-repeat: no-repeat;
  top: -10%;
  right: -10%;
}
.edit__button-close:hover {
  opacity: 60%;
}

.edit__fieldset {
  margin: 34px 36px 36.5px 36px;

  width: 358px;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.edit__profile {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px 0;
  max-height: 23px;
  max-width: 330px;
}
.edit__form {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  flex-direction: column;
}
.edit__form-name {
  max-width: 100%;
  margin: 0 0 30px 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.edit__form-subtitle {
  max-width: 100%;
  margin: 0 0 48px 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.edit__button {
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  height: 50px;
  border: none;
  background-color: black;
  color: white;
}
.edit__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 474px) {
  .edit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit__container {
    width: 282px;
    height: 322px;
    margin: -145px 0 0 0;
  }
  .edit__button-close {
    background: url("../images/close_button_320.svg");
    background-repeat: no-repeat;
    top: -40px;
    right: 1px;
    width: 26px;
    height: 26px;
  }
  .edit__fieldset {
    width: 238px;
    margin: 25px 22px 25px 22px;
  }
  .edit__profile {
    font-size: 18px;
    line-height: 22px;
  }
  .edit__form-name {
    margin: 0 0 30px 0;
    padding: 0 0 9px 0;
  }
  .edit__form-subtitle {
    margin: 0 0 46px 0;
    padding: 0 0 9px 0;
  }
  .edit__button {
    justify-content: center;
    height: 46px;
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
  }
}
