.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 17px;
  row-gap: 21px;
  margin: 0 auto 68px;
}
.gallery__element {
  background-color: white;
  border-radius: 10px 10px;
  width: 282px;
  color: black;
}
.gallery__description {
  margin: 25px 15px 31px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 246px;
}
.gallery__picture {
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
}
.gallery__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gallery__button-like {
  background: url("../images/like__button.svg");
  background-color: white;
  width: 24px;
  height: 22px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery__button-like:hover {
  opacity: 60%;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 282px 282px;
    justify-content: center;
  }
}
@media screen and (max-width: 660px) {
  .gallery {
    grid-template-columns: 282px;
  }
}
