.header {
  margin: 45px 0 41px 0;
  border-bottom: 1px solid rgba(92, 91, 91, 0.7);
}
.header__logo {
  margin: 0 0 41px 0;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 45px 0 41px 0;
  }
  .header__logo {
    width: 126px;
    height: 26px;
  }
}
